/*fonts*/
@font-face {
    font-family: 'DMSans';	
    src: url("./fonts/DMSans-VariableFont_opsz,wght.woff2") format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-VariableFont_opsz,wght.woff2") format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'PixelifySans';
    src: url("./fonts/PixelifySans-VariableFont_wght.woff2") format('woff2');
    font-weight: 100 900;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: clamp(21px, 2vw, 1rem);
  line-height: 1.5;
  background: #fff url('images/matchplay_background.png') center/cover no-repeat;
  color: #1A1A1A;
}

h2 {
  font-size: clamp(22px, 4.5vw, 10rem);
  background: linear-gradient(90deg, #1FACE5, #9A23A6);
  font-weight: 900;
  background-clip:text;
  background-size: 0% 100%;
  background-repeat:no-repeat;
  color: transparent;
  max-width: 90vw;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;

  
}

h3{
  font-size: clamp(22px, 1.5vw, 10rem);
  background: linear-gradient(90deg, #1FACE5, #9A23A6);
  font-weight: 900;
  background-clip:text;
  color: transparent;
  max-width: 90vw;
}

/*Animacion texto scroll*/

@keyframes scroll-reveal {

  to {background-size: 100% 100%;
    
  }
}

/*Fin animacion texto scroll*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}
header h2 {
  font-family:PixelifySans, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #1A1A1A;
}
 .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

/* Navigation Styles */

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 20px;
    height: auto;
  }
}
@media screen and (min-width: 901px) {
  .menu-icon {
    display: none;
  }
}

/*End Navigation Styles*/

.grid-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10rem;  
  padding: 10rem 2rem  10rem 2rem;
}

/*responsive grid*/
@media screen and (max-width: 900px) {
  .grid-main {
    padding: 1rem;
  }
}

.hero{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
  min-height: 60vh;
}
.hero-text {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero h2 {
  font-size: clamp(22px, 6vw, 10rem);
  background: linear-gradient(90deg, #1FACE5, #9A23A6);
  font-weight: 900;
  background-clip: text;
  color: transparent;
}


.hero-image {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 70%;
  height: auto;
}
/*Responsive section hero*/
@media screen and (max-width: 900px) {
 .hero{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    min-height: auto;
  }
  .hero-text {
    width: 90%;
    text-align: center;
  }
  .hero-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image img {
   width: 100%;
  }
}

/*Fin responsive section*/

.platform{
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:5rem;
  min-height: 60vh;
}


.wrapper {
  width: 100%;
  height:50px;
  margin-inline:auto;
  position:relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
}

:root {
    --tot:8;
    --dur:20s;
}

@keyframes scrolleft{
    to  {
        left:-200px;
    }
}

.item {
    width: auto;
    height: 40px;;
    position:absolute;
    left:100%;
    animation: scrolleft var(--dur) linear infinite;
}

.wrapper:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(100%);
}

.wrapper .item:hover {
    filter:none;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.cta-button{
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1FACE5;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 90px;
  transition: background-color 0.3s ease;
  
}
.cta-button:hover {
  background-color: #9A23A6;
}
.cta-button img{
  width: 45px;
  min-width:20px;
  height: auto;
  margin-left: 0.5rem;
}

/*Responsive section platform*/
@media screen and (max-width: 900px) {
 .platform{
  min-height: auto;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
  }
 }
 /* Fin responsive section platform */

.how-it-works {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
  min-height: 85vh;
}

.cards{
  display: grid;
  grid-template-columns:1fr;
  gap: 1rem;
  padding:2rem;
  border-radius:20px;
  width:auto;
  min-height: 40vh;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(77, 77, 77, 0.1);
  background-color:rgba(255, 255, 255, 0.101);
  background-image: url('./images/matchplay_icon.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 20px);
  background-size: 12%;
}
.hw-text{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  }

/* Responsive section how it works */
@media screen and (max-width: 900px) {
  .how-it-works {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    min-height: auto;
  }
  .cards {
    width: 90%;
    min-height: auto;
  }
  .hw-text {
    width: 100%;
    text-align: center;
  }
}
/*Fin responsive section how it works */
.download{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  justify-content: center;
  min-height: 60vh;
}
.download-grid{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
/* Responsive section download */
@media screen and (max-width: 900px) {
  .download-grid {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/* Fin responsive section download */

.download-grid p {
  max-width: 500px;
  text-align: left;
  font-size: clamp(16px, 1.5vw, 1rem);
  margin-bottom: 2rem;
}
.download-button{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:200px;
  height: auto;
  padding:1rem;
  border-radius: 20px;
  background-color: #ffffffc9;
  font-family:  PixelifySans, sans-serif;
}
.download-button img {
  width: 50px;
  height: auto;
  margin-bottom: 1rem;
}

.footer img{
  max-width: 100vw;
  width:100%;
  height: auto;
  display: block;
  padding:0;
  margin:0;
}
/*
* {
  outline: 1px solid red;
}*/